/* UTILITIES */
.my-pd {
  padding: 35px;
}

.navbar-orange {
  background-color: rgba(245, 171, 33, 0.712);
}

/* LINK */
.custom-link {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.custom-link:hover {
  cursor: pointer;
  font-weight: 600;
  color: rgb(155, 150, 150);
}

.custom-link.active {
  font-weight: 600;
  color: rgb(155, 150, 150);
}

.product-link {
  text-decoration: none;
  transition: 0.3s;
}

.product-link:hover {
  color: rgb(180, 9, 9);

}

/* LOADER */
.loader {
  display: block;
  position: relative;
  height: 12px;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
}

.loader:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #FF3D00;
  animation: 6s prog ease-in infinite;
}

@keyframes prog {
  to {
    width: 100%;
  }
}